<launch>
    <group ns="computer">
        <node name="trader" pkg="trader" type="trader_trader" />
        <node name="metricsPC" pkg="trader" type="trader_metricsPC" />
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"></include>

        <param name="acceptanceThresold" type="int" value="0" />
        <param name="robotPK" value="yyy"/>
        <param name="tradingThreshold" type="int" value="10" />
        <param name="idRobot" type="int" value="0" />
    </group>

    <group ns="robot1">
        <node name="trader" pkg="trader" type="trader_trader" />
        <node name="metrics" pkg="trader" type="trader_metrics" />
        <node name="decision" pkg="trader" type="trader_decision" />
        
        <!-- <node name="move_base_seq" pkg="simple_navigation_goals" type="move_base_seq">
            <rosparam param="p_seq">[0.2,0.5,0]</rosparam>
            <rosparam param="yea_seq">[90]</rosparam>
        </node>-->

        <param name="acceptanceThresold" type="int" value="1" />
        <param name="robotPK" value="yyy"/>
        <param name="tradingThreshold" value="10" />
        <param name="idRobot" type="int" value="1" />   
    </group>

    <group ns="robot2">
        <node name="trader" pkg="trader" type="trader_trader" />
        <node name="metrics" pkg="trader" type="trader_metrics" />
        <node name="decision" pkg="trader" type="trader_decision" />

       <!-- <node name="move_base_seq" pkg="simple_navigation_goals" type="move_base_seq">
            <rosparam param="p_seq">[0.2,0.5,0,2,0.5,0,1.5,-0.5,0]</rosparam>
            <rosparam param="yea_seq">[90,0,180]</rosparam>
        </node>-->

        <param name="acceptanceThresold" type="int" value="1" />
        <param name="robotPK" value="yyy"/>
        <param name="tradingThreshold" type="int" value="10" />
        <param name="idRobot" type="int" value="2" />
    </group>

    
    <group ns="robot3">
        <node name="trader" pkg="trader" type="trader_trader" />
        <node name="metrics" pkg="trader" type="trader_metrics" />
        <node name="decision" pkg="trader" type="trader_decision" />
        
        <!-- <node name="taskExec" pkg="simple_navigation_goals" type="move_base_seq">
            <rosparam param="p_seq">[0.2,0.5,0,2,0.5,0,1.5,-0.5,0]</rosparam>
            <rosparam param="yea_seq">[90,0,180]</rosparam>
        </node>-->

        <param name="acceptanceThresold" type="int" value="1" />
        <param name="robotPK" value="yyy"/>
        <param name="tradingThreshold" type="int" value="10" />
        <param name="idRobot" type="int" value="3" />
    </group>
    


	<!-- Other packages -->
	<node name="rqt_graph" pkg="rqt_graph" type="rqt_graph"/>
	<!--
    <node name="rqt_tf_tree" pkg="rqt_tf_tree" type="rqt_tf_tree"/>
	<node name="rviz" pkg="rviz" type="rviz"/>
    -->

</launch>
